body {
  background-color: #e6e7ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* til input med alle der har de specifikke type*/
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  /* resize: vertical; */
}

/* til input med alle der har type=submit */
/* input[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #474747;
} */

#placering {
  grid-column-start: 2;
  /* grid-row-start: 2; */
}
#placering img {
  max-width: 100%;
  height: auto;
}

#placering p {
  font-size: 0.7rem;
}

form {
  /* grid-row: 1 / span 2; */
  grid-column: 1;
  padding-bottom: 1rem;
}

.kontaktcontainer {
  margin-inline: 5rem;
  margin-block: 3rem;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 1rem;

  box-shadow: rgb(184, 185, 190) 6px 6px 12px 0px,
    rgb(184, 185, 190) 6px 6px 12px 0px;
}

.kontaktcontainer p {
  font-size: 1rem;
  line-height: 1.2rem;
  padding-bottom: 0.5rem;
}

.kontaktcontainer img {
  padding-bottom: 0.5rem;
  width: 100%;
}
.kontaktcontainer h3 {
  padding-bottom: 0.5rem;
}

@media (min-width: 800px) {
  .kontaktcontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 0.2fr 0.2fr; */
    gap: 20px;
  }
}

/* @media (min-width: 800px) {
  #placering {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
} */

.splashie {
  /* vw to adjust the size of splash picture according to size */
  height: 10rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(billeder/hylde.webp);
  background-size: cover;
  background-repeat: no-repeat;

  /* for text below */
  font-family: "Segoe UI";
  text-align: center;
  padding: 50px 0;
  /* font-size: 2rem; */
  color: rgb(255, 210, 29);
  font-size: 2rem;
}

@media (min-width: 800px) {
  .splashie {
    font-size: 4rem;
    height: 15rem;
    width: 100%;
  }
}

/* _________BURGER MENU__________________ */

.navbar {
  /* height: 12%; */
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #696969;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  width: 40px;
  cursor: pointer;
  margin-block: 0.2rem;
  margin-left: 1rem;
}

nav {
  flex: 1;
  text-align: right;
  margin-right: 5%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

ul li a:hover {
  /* color: grey; */
  color: rgb(255, 210, 29);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

/* burgermenu center og under hinanden */
.menu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: right; */
  float: right;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

/* .nav-link:hover {
  color: #482ff7;
} */

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* -------media------ */

@media only screen and (max-width: 768px) {
  /* Burgermenuen, farve, placering */
  .menu {
    position: fixed;
    left: -100%;
    top: 3.9rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    font-size: 2rem;
  }

  /* hvid streg i bunden når der er burgermenu størrelse */
  /* .navbar {
    border-bottom: 1px solid rgb(159, 159, 159);
  } */

  /* Placering af menu når man åbner burgermenu */
  .menu.active {
    left: 0;
  }

  /* Margin imellem tekst i åben burgermenu */
  .nav-item {
    margin: 2rem 0;
  }

  /* Viser de tre streger og at man kan trykke på dem */
  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    /* background-color: rgb(181, 181, 181); */
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 5px;
  }

  /* Transition af de tre streger til et kryds */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center top;
  /* gap: 10px; */
  background-color: white;
  /* position: fixed;
  left: 0px;
  bottom: 0px; */
}

.item7 {
  grid-column: 1/2;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.item7 img {
  width: 50%;
  max-width: 150px;
}

.item7 h3 {
  font-size: 0.7rem;
  font-family: "Ubuntu";
}

.item8 {
  grid-column: 2/3;
  text-align: center;
  margin-top: 2rem;
  /* margin-bottom: 10%; */
}

.item8 h3 {
  font-size: 0.7rem;
  margin: 2px;
  font-family: "Ubuntu";
}

.item9 {
  grid-column: 3/4;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Ubuntu";
  /* margin-right: 0rem; */
}

.item9 h3 {
  font-size: 0.7rem;
}

.item9 input {
  width: 80%;
}

.container input {
  margin: 0.1rem;
  font-family: "Ubuntu";
  cursor: pointer;
  padding: 10px;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #474747;
}

.container p {
  font-family: "Ubuntu";
  font-size: 0.8rem;
}

@media (max-width: 700px) {
  .item7 h3 {
    font-size: 0.4rem;
  }

  /* .item7 img {
   width: 100%;
  }  */

  .item8 h3 {
    font-size: 0.4rem;
  }

  .item8 {
    margin-left: -15%;
  }

  .item9 h3 {
    font-size: 0.4rem;
  }

  .item9 {
    margin-left: 0%;
  }

  .container p {
    font-size: 0.4rem;
  }

  .container input {
    font-size: 0.4rem;
    padding: 5px;
  }

  .item2 {
    margin-left: 0%;
  }
}
