* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e7ed;
}

img {
  max-width: 100%;
}

video {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(94, 94, 94, 0.5),
      rgba(80, 80, 80, 0.7)
    ),
    url(billeder/bni.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
  margin-right: 5%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

ul li a:hover {
  color: grey;
}

.row {
  display: grid;
  grid-auto-flow: row;
  color: #e6e7ed;
  margin: 5rem auto;
  width: min(93%, 75vw);
  justify-content: left;
  margin-left: 8%;
  gap: 3em;
}

.col {
  flex-basis: 90%;
  align-items: center;
}

h1 {
  color: #e6e7ed;
  font-size: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.paragraph {
  display: grid;
  grid-auto-flow: row;
  color: #e6e7ed;
  width: min(30%, 75rem);
  justify-content: left;
  margin-left: 8%;
  margin-top: 15%;
}

.paragraph p {
  font-size: 120%;
}

p {
  color: whitesmoke;
  font-family: Poppins;
}

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1%;
  gap: 1%;
}

.billede img {
  width: 100%;
  height: 100%;
}

.billede {
  position: relative;
  text-align: center;
}

.text3 {
  position: absolute;
  bottom: 50px;
  padding: 5rem;
}

.text3 p {
  color: black;
  background-color: whitesmoke;
  padding: 5%;
}

.overskrift h2 {
  color: rgba(0, 0, 0, 0.726);
  margin-top: 6%;
  margin-bottom: 6%;
}

.overskrift {
  text-align: center;
}

.kolonne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.kolonne img {
  border-radius: 7%;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
}

.kolonne .div1:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* KNAP */

.row1 button {
  grid-column: 2/3;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: 0.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

.row1 button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.div1 {
  position: relative;
  text-align: center;
}

.text1 p {
  color: black;
}

.text1 {
  position: absolute;
  bottom: -3px;
  padding: 1rem;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10%;
  gap: 5%;
}

.text2 h2 {
  padding-bottom: 2%;
  color: rgba(0, 0, 0, 0.726);
}

.text2 h2 p {
  position: absolute;
}

.text2 p {
  margin-bottom: 10%;
  font-size: large;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.726);
}

.text2 li {
  color: rgba(0, 0, 0, 0.726);
  font-size: large;
  line-height: 150%;
  font-family: Poppins;
}

.sideimage {
  max-width: 80%;
  margin-left: 10%;
}

/* Media Queries */

@media (max-width: 1200px) {
  .text3 {
    position: absolute;
    bottom: 70px;
    padding: 5rem;
  }
}

@media (max-width: 1000px) {
  .container2 {
    grid-template-columns: 1fr;
  }
  .text2 p {
    margin-bottom: 5%;
  }

  .sideimage img {
    width: 80%;
  }

  .row1 {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 15%;
  }

  .kolonne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .text3 {
    position: absolute;
    bottom: 70px;
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  .paragraph {
    width: min(40%, 75rem);
    place-content: end-center;
  }
}

@media (max-width: 800px) {
  .text3 {
    position: absolute;
    bottom: 70px;
    padding: 8rem;
  }

  .indhold {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .text2 p {
    margin-bottom: 15%;
  }
  .row1 {
    margin-top: 30%;
    margin-left: 0%;
    margin-right: 15%;
    padding: 10px px;
  }

  .kolonne {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
  }

  .text3 {
    position: absolute;
    bottom: 50px;
    padding: 3rem;
  }

  .paragraph {
    width: min(70%, 75rem);
  }

  .col h1 {
    font-size: 300%;
  }

  .col h2 {
    font-size: 200%;
  }
}

/* _________BURGER MENU__________________ */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* burgermenu center og under hinanden */
.menu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: right; */
  float: right;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* -------media------ */

@media only screen and (max-width: 768px) {
  /* Burgermenuen, farve, placering */
  .menu {
    position: fixed;
    left: -100%;
    top: 7.5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    font-size: 2rem;
  }

  /* hvid streg i bunden når der er burgermenu størrelse */
  .navbar {
    border-bottom: 1px solid rgb(159, 159, 159);
  }

  /* Placering af menu når man åbner burgermenu */
  .menu.active {
    left: 0;
  }

  /* Margin imellem tekst i åben burgermenu */
  .nav-item {
    margin: 2rem 0;
  }

  /* Viser de tre streger og at man kan trykke på dem */
  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    background-color: rgb(181, 181, 181);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 5px;
  }

  /* Transition af de tre streger til et kryds */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center top;
  gap: 10px;
  background-color: white;
}

.item7 {
  grid-column: 1/2;
  margin-left: 10%;
  margin-top: 20%;
  margin-bottom: 15%;
}

.item7 img {
  width: 55%;
}

.item7 h3 {
  font-size: 0.7rem;
}

.item8 {
  grid-column: 2/3;
  /* margin-left: 5%; */
  text-align: center;
  margin-top: 30%;
  margin-bottom: 15%;
}

.item8 h3 {
  font-size: 0.7rem;
  margin: 2px;
}

.item9 {
  font-family: Ubuntu;
  grid-column: 3/4;
  margin-left: 35%;
  margin-top: 27%;
  margin-bottom: 15%;
}

.item9 h3 {
  font-size: 0.7rem;
}

.item9 input {
  width: 80%;
}

.containerfooter input {
  margin: 1%;
  font-family: ubuntu;
  cursor: pointer;
}

.containerfooter p {
  font-family: ubuntu;
  font-size: 0.8rem;
}
