* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e7ed;
}

img {
  max-width: 100%;
}

/* NAV-BAR, SPLASH & OVERSKRIFT */
.container {
  height: 100vh; /* så billedet fylder hele skærmen  */
  background-image: linear-gradient(
      rgba(44, 44, 44, 0.5),
      rgba(80, 80, 80, 0.7)
    ),
    url(billeder/bni.jpg); /* filter på splash */
  background-size: cover; /* hele billedet ses  */
  padding-left: 8%; /* placering af tekst  */
}

/* NAV-BAR */

.navbar li {
  font-family: ubuntu;
}

.navbar {
  height: 12%; /* højden på navigationsbaren  */
  display: flex; /* alle elementer står ved siden af hinanden  */
  align-items: center; /* elementerne står i midten af højden i nav-baren  */
}

.logo {
  width: 50px; /* konkretisering af logoets størrelse  */
  cursor: pointer; /* så musen fortæller brugeren af elementet er klikbart  */
}

nav {
  flex: 1; /* antal rækker til nav-elementer  */
  text-align: right; /* tekst til højre  */
  margin-right: 5%; /* luft til højre fra tekst  */
}

nav ul li {
  display: inline-block; /* prikker forsvinder fra tekst  */
}

nav ul li a {
  text-decoration: none; /* linje forsvinder  */
  color: whitesmoke;
}

ul li a:hover {
  color: #f9d24d;
}

.row {
  color: #e6e7ed;
  margin: 5rem auto; /* placering af tekst */
  margin-left: -2%; /* luft i venstre side  */
}

.col h1 {
  color: #f9d24d;
  font-size: 70px;
  font-family: ubuntu;
}

.col h2 {
  color: #e6e7ed;
  font-size: 40px;
  font-family: ubuntu;
}

.paragraph {
  color: #e6e7ed;
  width: min(35%, 75rem); /* difination af område tekst på fylde  */
  margin-left: -2%; /* luft i venstre side  */
}


.paragraph p {
  font-size: 120%;
}

p {
  color: whitesmoke;
  font-family: Poppins;
}


/* VIDEO SAMT BILLEDE  */

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr; /* grid to kolonner  */
  margin: 1%;
  gap: 1%;
}


video {
  width: 100%;
  height: 100%; /* så videoen alligner med billedet til højre  */
  object-fit: cover;
}


.billede img {
  height: 100%; /* billedet alligner med videoen  */
}

.billede {
  position: relative;
  text-align: center; tekst står i midten af billedet 
}

.text3 {
  position: absolute;
  bottom: 50px; /* placering af tekst  */
  padding: 5rem; /* definering af luften omkring kassen  */
}

.text3 p {
  color: black;
  background-color: whitesmoke;
  padding: 5%; /* størrelsen på kassen  */
}

.overskrift h2 {
  color: rgba(0, 0, 0, 0.726);
  margin-top: 6%; 
  margin-bottom: 6%;
}

.overskrift {
  text-align: center; /* placering */
}



/* PRODUKT ELEMENTER */

.kolonne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 3%; /* placering af elementerne */
}

.kolonne img {
  border-radius: 7%; /* runding på elementerne  */
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff; /* skygger på elementer */
}

.kolonne .div1:hover {
  transform: scale(1.1) ; /* animation på elementer */
  transition: 0.3s; /* længde på animation */
  cursor: pointer; /* synliggør klikbarhed */
}


/* KURSER TEKST */
.div1 {
  position: relative;
  text-align: center; /* tekst i midten  */
}

.text1 p {
  color: black;
}

.text1 {
  position: absolute;
  bottom: -3px;
  padding: 1rem;
  font-size: small;
  margin-bottom: 6%;
}



/* KNAP */


.row1 button {
margin-left: 39.5%;
}

.row1 button {

  padding: 1.5em 5em; /* fylde af selve knappen  */
  background: #efefef;
  border: none; /* fjern linje omkring knap  */
  border-radius: 0.5rem; /* runding */
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem; /* luft mellem bogstaver */
  text-align: center; /* tekst i midten  */
  cursor: pointer; /* vis klikbarhed */
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15); /* skygger på knap  */
}

.row1 button:hover {
  transform: scale(1.1);
  transition: 0.3s; /* animation hover knap  */
  cursor: pointer; /* vis klikbarhed  */
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* antaler kolonner  */
  margin: 10%; /* luft rundt om */
  gap: 5%; /* luft mellem elementer */
}

.text2 h2 {
  padding-bottom: 2%; /* placering af overskrift i forhold til brødtekst  */
  color: rgba(0, 0, 0, 0.726);
}

.text2 p {
  margin-bottom: 10%; /* luft fra p til h2 */
  font-size: large; 
  line-height: 150%;
  color: rgba(0, 0, 0, 0.726);
}

.text2 li {
  color: rgba(0, 0, 0, 0.726);
  font-size: large;
  line-height: 150%;
  font-family: Poppins;
}

.sideimage {
  max-width: 80%;
  margin-left: 10%;
}

/* Media Queries */

@media (max-width: 1300px) {
  .kolonne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

   .row1 button{
    margin-top: 5%;
    margin-left: 37%;
    
  }
}

@media (max-width: 1200px) {
  .text3 {
    position: absolute;
    bottom: 70px;
    padding: 5rem;
  }

  .kolonne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .row1 button{
    margin-top: 8%;
  }

  .text3 {
    position: absolute;
    bottom: 1px;
    padding: 5rem;
  }
}


@media (max-width: 1000px) {
  .container2 {
    grid-template-columns: 1fr;
  }
  .text2 p {
    margin-bottom: 5%;
  }

  .sideimage img {
    width: 80%;
  }

  .row1 {
    margin-top: 8%;
    margin-left: -5%;
  }

  .kolonne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .text3 {
    position: absolute;
    bottom: 70px;
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  .paragraph {
    width: min(40%, 75rem);
    place-content: end-center;
  }

    .text3 {
    position: absolute;
    bottom: -20px;
    padding: 4rem;
  }
}

@media (max-width: 800px) {
  .text3 {
    position: absolute;
    bottom: 70px;
    padding: 8rem;
  }

  .indhold {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .row1 {
    margin-top: 15%;
    margin-left: -15%;
  }

  .kolonne {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .text2 p {
    margin-bottom: 15%;
  }

  .overskrift h2 {
    margin-top: 50px;
  }

  .text3 {
    position: absolute;
    bottom: 90px;
    padding: 5rem;
  }

  .paragraph {
    width: min(70%, 75rem);
  }

  .col h1 {
    font-size: 300%;
  }

  .col h2 {
    font-size: 200%;
  }

  .sideimage img {
    width: 80%;
  }

   .row1 {
    margin-top: 15%;
    margin-right: 19%;
  }
}

/* _________BURGER MENU__________________ */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* burgermenu center og under hinanden */
.menu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: right; */
  float: right;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* -------media------ */

@media only screen and (max-width: 768px) {
  /* Burgermenuen, farve, placering */
  .menu {
    position: fixed;
    left: -100%;
    top: 7.5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    font-size: 2rem;
  }

  /* hvid streg i bunden når der er burgermenu størrelse */
  .navbar {
    border-bottom: 1px solid rgb(159, 159, 159);
  }

  /* Placering af menu når man åbner burgermenu */
  .menu.active {
    left: 0;
  }

  /* Margin imellem tekst i åben burgermenu */
  .nav-item {
    margin: 2rem 0;
  }

  /* Viser de tre streger og at man kan trykke på dem */
  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    background-color: rgb(181, 181, 181);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 5px;
  }

  /* Transition af de tre streger til et kryds */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center top;
  /* gap: 10px; */
  background-color: white;
  left: 0px;
  bottom: 0px;
}

.item7 {
  grid-column: 1/2;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item7 img {
  width: 50%;
  max-width: 150px;
}

.item7 h3 {
  font-size: 0.7rem;
}

.item8 {
  grid-column: 2/3;
  text-align: center;
  margin-top: 2rem;
  /* margin-bottom: 10%; */
}

.item8 h3 {
  font-size: 0.7rem;
  margin: 2px;
}

.item9 {
  font-family: "Ubuntu";
  grid-column: 3/4;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* margin-right: 0rem; */
}

.item9 h3 {
  font-size: 0.7rem;
}

.item9 input {
  width: 80%;
}

.containerfooter input {
  margin: 0.1rem;
  font-family: ubuntu;
  cursor: pointer;
  padding: 10px;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  /* padding: 12px 20px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #474747;
}

.containerfooter p {
  font-family: ubuntu;
  font-size: 0.8rem;
}
/* MEDIA */



